[Unit]
Description=tund client
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/tund
StandardOutput=null
Restart=on-failure

[Install]
WantedBy=multi-user.target